<div class="ml-3 mr-5 bg-white in-custom-main">
  <div [hidden]="!searchBox" class="custom-input" >
    <input matInput class="custom-input-field" (keyup)="applyFilter($event)"  placeholder= " Search" #input>
  </div>

  <div class="mat-elevation-z8 ">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort class="w-full border border-gray-300 ">

        <!-- Dynamic Column Definitions -->
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="iv_custom_head">
            {{ column.label }}
          </th>
          <td mat-cell class="iv_custom_row" *matCellDef="let row">
            {{ row[column.key] }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="columns.length">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>

<!--    <mat-paginator class="custom-pagination" [pageSizeOptions]="[20, 50, 100]" aria-label="Select page"></mat-paginator>-->
<!--    <mat-paginator [pageSizeOptions]="[20, 50, 100]" aria-label="Select page of users"></mat-paginator>-->

    <div class="flex justify-between items-center p-4 bg-white rounded-lg">
      <!-- Dropdown for items per page -->
      <div class="relative">
        <select class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
          <option value="20">20 Per Page</option>
          <option value="20" >50 Per Page</option>
          <option value="20" >100 Per Page</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <mat-icon class="text-gray-500">arrow_drop_down</mat-icon>
        </div>
      </div>

      <!-- Pagination controls -->
      <div class="flex items-center space-x-0.5">
        <!-- First page button -->
        <button class="p-1 rounded hover:bg-gray-200">
          <mat-icon class="text-gray-500">first_page</mat-icon>
        </button>
        <!-- Previous page button -->
        <button class="p-1 rounded hover:bg-gray-200">
          <mat-icon class="text-gray-500">chevron_left</mat-icon>
        </button>
        <!-- Current page display -->
        <span class="text-sm text-gray-700 p-1">Page 2 of 10</span>
        <!-- Next page button -->
        <button class="p-1 rounded hover:bg-gray-200">
          <mat-icon class="text-gray-500">chevron_right</mat-icon>
        </button>
        <!-- Last page button -->
        <button class="p-1 rounded hover:bg-gray-200">
          <mat-icon class="text-gray-500">last_page</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>
