<main class="p-4 sm:p-6">
  <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg p-6">

    <!-- Header with Back Button -->
    <div class="flex items-center space-x-2 mb-5">
      <button onclick="history.back()" class="flex items-center px-4 py-2 bg-white text-black rounded-lg hover:bg-gray-600 transition">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
          <path fill-rule="evenodd" d="M11.707 4.293a1 1 0 0 1 0 1.414L6.414 11H20a1 1 0 1 1 0 2H6.414l5.293 5.293a1 1 0 0 1-1.414 1.414l-7-7a1 1 0 0 1 0-1.414l7-7a1 1 0 0 1 1.414 0z" clip-rule="evenodd"/>
        </svg>
      </button>
      <h2 class="text-xl font-semibold">Add Organization</h2>
    </div>

    <!-- Form -->
    <form class="space-y-5">
      <div>
        <label for="organizationName" class="input-level">Organization Name</label>
        <input id="organizationName" type="text" class="input-field w-full" placeholder="Type Organization Name">
      </div>

      <div>
        <label for="address" class="input-level">Address</label>
        <input id="address" type="text" class="input-field w-full" placeholder="Type Address">
      </div>

      <div>
        <label for="phoneNumber" class="input-level">Phone Number</label>
        <input id="phoneNumber" type="text" class="input-field w-full" placeholder="Type Phone Number">
      </div>

      <div>
        <label for="contactNumber" class="input-level">Contact Number</label>
        <input id="contactNumber" type="text" class="input-field w-full" placeholder="Type Contact Number">
      </div>

      <!-- Buttons -->
      <div class="flex justify-end space-x-2">
        <button routerLink="/setup/organization-list" class="cancel-button">
          Cancel
        </button>
        <button class="custom-button-global p-4">
          Submit
        </button>
      </div>
    </form>
  </div>
</main>

<router-outlet/>
