<main class="">
  <div class="p-5 bg-white shadow-lg rounded-lg">
    <!-- Back Button & Header -->
    <div class="flex space-x-2 items-center mb-5">
      <button onclick="history.back()" class="flex items-center px-4 py-2 bg-white text-black rounded-lg hover:bg-gray-600 transition">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
          <path fill-rule="evenodd" d="M11.707 4.293a1 1 0 0 1 0 1.414L6.414 11H20a1 1 0 1 1 0 2H6.414l5.293 5.293a1 1 0 0 1-1.414 1.414l-7-7a1 1 0 0 1 0-1.414l7-7a1 1 0 0 1 1.414 0z" clip-rule="evenodd"/>
        </svg>
      </button>
      <h2 class="text-xl font-semibold">Add UoM</h2>
    </div>
  </div>
</main>
