<div class="mx-auto p-6 bg-white shadow-md rounded-lg">
  <h2 class="text-xl font-semibold mb-6">Basic Information</h2>

  <div class="flex justify-start space-x-10 items-start">
    <!-- Challan No. and Challan Date -->
    <div>
      <label class="input-level">Challan No.</label>
      <input type="text" placeholder="Type Challan Number" class="input-field">
    </div>

    <div>
      <label class="input-level mb-3">Challan Date.</label>
      <mat-form-field class=" w-[120%] h-17">
        <mat-label>Select a date</mat-label>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
    </div>
    <!-- Vendor Name -->
    <div>
      <label class="input-level">Vendor Name</label>
      <select class="input-field">
        <option>Select Vendor</option>
        <option>Select Vendor2</option>
        <option>Select Vendor3</option>
        <!-- Add more options dynamically -->
      </select>
    </div>
  </div>

  <div class="flex space-x-10">
    <!-- Received By -->
    <div>
      <label class="input-level">Received By</label>
      <select class="input-field">
        <option>Select Receiver</option>
        <option>Select Receiver2</option>
        <option>Select Receiver3</option>
        <!-- Add more options dynamically -->
      </select>
    </div>
    <!-- Received Date -->
    <div>
      <div>
        <label class="input-level mb-3">Received Date.</label>
        <mat-form-field class=" w-[120%] h-17">
          <mat-label class="">Select a date</mat-label>
          <input matInput [matDatepicker]="picker2" class="">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
