.material-icons {
  font-size: 24px;
}
#m-icon {
  font-size: 38px;
}

aside {
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

