.material-icons {
  font-size: 24px;
}
#m-icon {
  font-size: 38px;
}

aside {
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-logo {
  animation: spin 5s linear infinite; /* 2s duration, linear timing, infinite loop */
}
