<main class="ml-64 mt-2 p-2 bg-emerald-50">
  <div class="p-2 bg-white shadow-lg rounded-lg">
    <div class="flex space-x-1 items-center mb-5">
      <div>
        <button onclick="history.back()" class="flex items-center space-x-2 px-4 py-2 bg-white text-black rounded-lg hover:bg-gray-600 transition">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M11.707 4.293a1 1 0 0 1 0 1.414L6.414 11H20a1 1 0 1 1 0 2H6.414l5.293 5.293a1 1 0 0 1-1.414 1.414l-7-7a1 1 0 0 1 0-1.414l7-7a1 1 0 0 1 1.414 0z" clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
      <h2 class="text-xl font-medium">Add Item</h2>
    </div>
    <form class="space-y-4">
      <!-- Flex container for the first row -->
      <div class="flex space-x-10 justify-evenly">
        <!-- Item Name -->
        <div class="">
          <label for="itemName" class="block text-md font-medium text-gray-700">Item Name</label>
          <input id="itemName" type="text" class="input-field" placeholder="Type Item Name">
        </div>
        <!-- Item Group -->
        <div class="">
          <label for="itemGroup" class="input-level">Item Group</label>
          <div class="relative w-full mt-3">
            <select id="itemGroup" class="dropDown">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Flex container for the second row -->
      <div class="flex justify-evenly space-x-10">
        <!-- Specification -->
        <div class="">
          <label for="specification" class="input-level">Specification</label>
          <input id="specification" type="text" class="input-field" placeholder="Type Specification">
        </div>

        <!-- UoM -->
        <div class="">
          <label for="uom" class="block text-md font-medium text-gray-700">UoM</label>
          <div class="relative w-full mt-3">
            <select id="uom" class="dropDown">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>

      </div>

      <!-- Flex container for the third row -->
      <div class="flex space-x-10 justify-evenly mr-10">
        <!-- Master Item -->
        <div class="">
          <label for="masterItem" class="input-level">Master Item</label>
          <div class="relative w-full mt-3">
            <select id="masterItem" class="dropDown">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <!-- Allow for Deviation Rate -->
        <div class="w-80">
          <label class="input-level">Allow for Deviation Rate</label>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <!-- Remarks -->
      <div class="ml-40 mr-40">
        <label for="remarks" class="input-level">Remarks</label>
        <textarea id="remarks" class="mt-1 block p-4 w-full rounded-md border-gray-300 shadow-sm" rows="3" placeholder="Write comment about the item..."></textarea>
      </div>
      <div class="flex justify-end space-x-2 mt-6 mr-40 mb-5">
        <button routerLink="/item-list" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 hover:cursor-pointer">
          Cancel
        </button>
        <button class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 hover:cursor-pointer">
          Submit
        </button>
      </div>

    </form>
  </div>
</main>
<router-outlet />
