@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dropDown{
  @apply
  w-80 h-12 border
  border-gray-300
  rounded-md
  py-2 px-3
  text-gray-700
  focus:ring-2 focus:ring-gray-500 focus:border-b-gray-600
  shadow-md
}

.input-level{
  @apply
  block text-lg font-medium text-gray-700
}

.input-field{
  @apply
  mt-3
  mb-3
  block
  p-2
  h-12 rounded-md border-gray-300 shadow-md
  border-1
}

.page-header{
  @apply
  p-4 font-bold text-xl text-black
}

.remarks{
  @apply
  mt-2 block p-4 w-80 rounded-md border-gray-300 shadow-lg
}

.custom-button-global {
  border-radius: 4px !important;
  background-color: deeppink !important; /* Change from black to pink */
  color: white !important;
  font-size: 16px !important;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.custom-button-global:hover {
  background-color: #e60078; /* Pink shade on hover */
  cursor: pointer !important;
}

.cancel-button{
  @apply
  cursor-pointer bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600
}

.TakeActionDropDown{
  @apply
  w-40 h-11 border
  border-gray-300
  rounded-md
  py-2 px-2
  m-1
  text-white
  bg-black
  focus:ring-2 focus:ring-gray-500 focus:border-b-gray-600
  shadow-md
}

