<div class="mx-auto p-6 bg-white shadow-md rounded-lg">
  <h2 class="text-xl font-semibold mb-6">Basic Information</h2>

  <div class="flex justify-start space-x-6 items-start">
    <!-- Challan No. and Challan Date -->
    <div>
      <label class="input-level">Challan No.</label>
      <input type="text" placeholder="Type Challan Number" class="input-field">
    </div>

    <div>
      <label class="input-level">Challan Date.</label>
      <mat-form-field class="">
        <mat-label>Select a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- Vendor Name -->
    <div>
      <label class="input-level">Vendor Name</label>
      <select class="input-field">
        <option>Select Vendor</option>
        <!-- Add more options dynamically -->
      </select>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
    <!-- Received By -->
    <div>
      <label class="input-level">Received By</label>
      <select class="input-field">
        <option>Select Receiver</option>
        <!-- Add more options dynamically -->
      </select>
    </div>
    <!-- Received Date -->
    <div>
      <div>
        <label class="input-level">Received Date.</label>
        <mat-form-field class="">
          <mat-label>Select a date</mat-label>
          <input matInput [matDatepicker]="picker" class="">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
